@import "../abstracts/variables";

.card__button {
    margin-top: 16px;
    min-width: 242px;
    min-height: 40px;
    padding: 8px 0px;
    border-radius: 4px;
    border: none;
    color: $text-white;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    &--add {
        background-color: $btn-bgr-purple;

        &:hover {
            background-color: $btn-hvr-purple;
        }
    }

    &--end {
        background-color: $btn-bgr-green;

        &:hover {
            background-color: $btn-hvr-green;
        }
    }
}






.button-chat {
    height: 64px;
    width: 64px;
    background-color: $header-background;
    border: none;
    border-radius: 100%;
    position: fixed;
    top: 50%;
    right: 28px;
    z-index: 1;

    &:hover {
        transform: rotate(12.05deg)
    }
}
