@import "../abstracts/variables";

.card__chips {
    position: absolute;
    display: flex;
    gap: 4px;
    top: 32px;
    left: 32px;
}

.chips__item {
    background-color: $chips-blue;
    max-width: 36px;
    max-height: 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
    color: $text-white;

    &--discount {
        background-color: $chips-rose;
        max-width: 70px;
    }

    &--new {
        background-color: $chips-purple;
        max-width: 47px;
    }
}