@import "../abstracts/variables";

h3 {
    color: $text-black;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    border-bottom: 1px solid $border-gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

h4 {
    color: $text-gray;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}