// COLORS
$background-primary: #EEEEEF;
$background-secondary: #F8FDFE;
$header-background: #10BBD5;
$footer-background: #4C394E;
$card-background: #F8FDFE;

$chips-blue: #4200FF;
$chips-rose: #EA33C0;
$chips-purple: #AF39E7;

$text-gray: #8E8E8E;
$text-white: #F8FDFE;
$text-black: #1F1F1F;

$border-gray: #A8A8A8;

$color-white: #FFFFFF;
$color-black: #000000;

$btn-bgr-purple: #4C394E;
$btn-hvr-purple: #744978;
$btn-bgr-green: #4D762D;
$btn-hvr-green: #6DB236;