@import "../abstracts/variables";

footer {
    margin-top: 120px;
    background-color: $footer-background;
    padding: 32px 52px;
}

.footer-container {
    display: flex;
    justify-content: space-between;

    & span {
        color: $text-white;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
}
