@import "../abstracts/variables";

main {
    padding-top: 32px;
}

.main-container {
    margin-top: 24px;
}

.main-title {
    margin: 0px 52px;
    color: $text-black;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    border-bottom: 1px solid $border-gray;
}

.main-title h2 {
    margin-bottom: 23px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    /* width: 1296px; */
    margin: 0px 52px 32px 52px;
}

.card-container__item {
    background-color: $card-background;
    border: 1px solid $border-gray;
    text-align: center;
    box-sizing: border-box;
    width: 306px;
    height: 512px;
    padding: 32px;
    position: relative;

    & img {
        height: 178px;
        height: 280px;
    }
}


.card__title {
    margin-top: 16px;
    text-align: left;
}

.card-title__price {
    margin-top: 8px;
    display: flex;
    gap: 24px;
}

.price__span {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;

    &--actual {
        color: #E90000;
    }

    &--unactual {
        color: $text-gray;
        text-decoration: line-through;
        text-decoration-thickness: 1px;
    }
}


