@import "../abstracts/variables";

header {
    top: 0px;
    width: 100%;
    position: sticky;
    z-index: 1;
}

.header-container {
    background-color: $header-background;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 52px;
}

.header-container__logo {
    height: 29px;
    width: 136px;
}

.header-container__bin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    
    & span {
        color: $text-white;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}


.bin__button {
    width: 40px;
    height: 40px;
    border: none;
    background: none;
}

.header-nav {
    background-color: $color-white;
    padding: 4px 52px;
    display: flex;
    justify-content: space-between;
}

.header-nav__right {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.nav__link {
    color: $color-black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}